@mixin flex {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 5px grey; 
    margin-top: 1px;
    font-family: 'Montserrat', sans-serif;
    
}
.section{
    @include flex;

    div h3{
margin-left: 1px;
cursor: pointer;
    }
    .cont-box{
        border-bottom: 2px solid rgb(1, 177, 247);
        padding: 5px;
        width:400px;
        text-align: center;
    }
    .cont-box1{
      
        padding: 5px;
        width:400px;
        text-align: center;
    }
    .cont-box:hover{
        background-color: rgb(232, 236, 238);
        color:rgb(1, 177, 247);
        border-radius: 5px;
       
       
       
    }
    .cont-box1:hover{
       
        background-color: rgb(232, 236, 238);
        color:rgb(1, 177, 247);
        border-radius: 5px;
       
    }
}
@mixin grid {
   margin-top: 6px;
  
}
.section-box{
    @include grid;
    .work{
        display: none;
    }
}
@mixin border {
    box-shadow:inset 0 0 5px grey;
      

    height:auto;
   
    width:70%;
    margin-left: 25%;
    margin-top: 80px;
   
    
}
.border-box1{
@include border;
}
@media(max-width:768px){
    .border-box1{
        margin-left: 0.1px;
        width:100%;
    }
    
}

    
    